:root {
  --font-family: "Montserrat", sans-serif;
  --second-family: "Playfair Display", sans-serif;
  --third-family: "Pacifico", sans-serif;
  --light-text-color:  #fff;
  --secondory-color: #1e1e1e;
  --desc-color: #2f2d2d;
  --highlighted-color:#2c3e50;

}